.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 54px auto;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px rgba(223, 213, 222, 0.5);
    background-color: rgba(123, 113, 122, 0.5);
    padding: 54px;
    width: 500px;
}